Flask==3.0.3
PyMuPDF==1.24.9
pytesseract==0.3.10
pdf2image==1.17.0
Pillow==10.4.0
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.139.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
gunicorn==20.1.0
